### Django ###
*.log
__pycache__/
.DS_Store
*.DS_Store
.idea/
*.pyc
*nginx.conf
media/
uwsgi.ini
whoosh_index/
static/
uwsgi_params
uwsgi.pid
db.sqlite3
blogproject/settings_prd.py
manage_prd.py
prd_wsgi.py

